[submodule "tool/compiler/gcc/src"]
  path = tool/compiler/gcc/src
  url = git://gcc.gnu.org/git/gcc.git
  branch = releases/gcc-12
[submodule "tool/compiler/llvm/src"]
  path = tool/compiler/llvm/src
  url = https://github.com/llvm/llvm-project.git
  branch = release/15.x
[submodule "tool/instrument/valgrind/src"]
  path = tool/instrument/valgrind/src
  url = git://sourceware.org/git/valgrind.git
  branch = VALGRIND_3_16_BRANCH
[submodule "tool/compiler/ghc/src"]
  path = tool/compiler/ghc/src
  url = https://github.com/ghc/ghc.git
  branch = ghc-9.4
[submodule "water/watcher"]
  path = water/watcher
  url = https://github.com/e-dant/watcher.git
  branch = release
[submodule "water/river"]
  path = water/river
  url = https://github.com/e-dant/river.git
  branch = release
